$user-themes: (
    default: (
        selector: ".theme-default",
        primary: (
            50: #fef2f2,
            100: #fee2e2,
            200: #fecaca,
            300: #fca5a5,
            400: #f87171,
            500: #ef4444,
            600: #CF000B,
            700: #b91c1c,
            800: #991b1b,
            900: #7f1d1d,
            950: #450a0a,
            DEFAULT: #CF000B,
            contrast: (
                50: #450a0a,
                100: #450a0a,
                200: #450a0a,
                300: #450a0a,
                400: #450a0a,
                500: #fef2f2,
                600: #ffffff,
                700: #ffffff,
                800: #ffffff,
                900: #ffffff,
                950: #ffffff,
                DEFAULT: #ffffff,
            ),
        ),
        accent: (
            50: #f8fafc,
            100: #f1f5f9,
            200: #e2e8f0,
            300: #cbd5e1,
            400: #94a3b8,
            500: #64748b,
            600: #475569,
            700: #334155,
            800: #1e293b,
            900: #0f172a,
            950: #020617,
            DEFAULT: #1e293b,
            contrast: (
                50: #020617,
                100: #020617,
                200: #020617,
                300: #020617,
                400: #020617,
                500: #ffffff,
                600: #ffffff,
                700: #ffffff,
                800: #ffffff,
                900: #ffffff,
                950: #ffffff,
                DEFAULT: #ffffff,
            ),
        ),
        warn: (
            50: #fef2f2,
            100: #fee2e2,
            200: #fecaca,
            300: #fca5a5,
            400: #f87171,
            500: #ef4444,
            600: #dc2626,
            700: #b91c1c,
            800: #991b1b,
            900: #7f1d1d,
            950: #450a0a,
            DEFAULT: #dc2626,
            contrast: (
                50: #450a0a,
                100: #450a0a,
                200: #450a0a,
                300: #450a0a,
                400: #450a0a,
                500: #fef2f2,
                600: #ffffff,
                700: #ffffff,
                800: #ffffff,
                900: #ffffff,
                950: #ffffff,
                DEFAULT: #ffffff,
            ),
        ),
    ),
    brand: (
        selector: ".theme-brand",
        primary: (
            50: #eff5fe,
            100: #e2ecfd,
            200: #c4dafa,
            300: #a1c6f8,
            400: #74b0f5,
            500: #2196f3,
            600: #1e88dc,
            700: #1a78c3,
            800: #1766a6,
            900: #125183,
            DEFAULT: #2196f3,
            contrast: (
                50: #125183,
                100: #125183,
                200: #125183,
                300: #125183,
                400: #125183,
                500: #ffffff,
                600: #ffffff,
                700: #ffffff,
                800: #ffffff,
                900: #ffffff,
                DEFAULT: #ffffff,
            ),
        ),
        accent: (
            50: #f8fafc,
            100: #f1f5f9,
            200: #e2e8f0,
            300: #cbd5e1,
            400: #94a3b8,
            500: #64748b,
            600: #475569,
            700: #334155,
            800: #1e293b,
            900: #0f172a,
            950: #020617,
            DEFAULT: #1e293b,
            contrast: (
                50: #020617,
                100: #020617,
                200: #020617,
                300: #020617,
                400: #020617,
                500: #ffffff,
                600: #ffffff,
                700: #ffffff,
                800: #ffffff,
                900: #ffffff,
                950: #ffffff,
                DEFAULT: #ffffff,
            ),
        ),
        warn: (
            50: #fef2f2,
            100: #fee2e2,
            200: #fecaca,
            300: #fca5a5,
            400: #f87171,
            500: #ef4444,
            600: #dc2626,
            700: #b91c1c,
            800: #991b1b,
            900: #7f1d1d,
            950: #450a0a,
            DEFAULT: #dc2626,
            contrast: (
                50: #450a0a,
                100: #450a0a,
                200: #450a0a,
                300: #450a0a,
                400: #450a0a,
                500: #fef2f2,
                600: #ffffff,
                700: #ffffff,
                800: #ffffff,
                900: #ffffff,
                950: #ffffff,
                DEFAULT: #ffffff,
            ),
        ),
    ),

);
