<div class="flex flex-col  flex-auto bg-white md:justify-center sm:flex-row gap-y-4">
    <div
        class="flex items-center p-4 justify-end min-w-1/2 sm:w-full md:h-full  px-4 sm:p-12 md:p-16"
    >
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-2/4">
                <img src="assets/images/logo/logo_mef.jpg" />
            </div>

            <!-- Title -->
            <div
                class="mt-8 text-4xl font-extrabold tracking-tight leading-tight"
            >
                Iniciar Sesion
            </div>
            <div class="flex items-center mt-0.5">
                <div>Utilice las imagenes como referencia</div>
                <mat-icon
                    class="ml-2 text-primary-500"
                    svgIcon="heroicons_outline:arrow-long-right"
                ></mat-icon>
            </div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'"
            >
                {{ alert.message }}
            </fuse-alert>

            <!-- Sign in form -->
            <form class="mt-8" [formGroup]="signInForm" #signInNgForm="ngForm">
                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Dni</mat-label>
                    <input id="dni" matInput [formControlName]="'dni'" />
                    <mat-error
                        *ngIf="signInForm.get('dni').hasError('required')"
                    >
                        Numero de Dni es requerido
                    </mat-error>
                    <mat-error
                        *ngIf="signInForm.get('dni').hasError('dni')"
                    >
                        Por favor ingrese un numero de dni valido
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Fecha de emisión</mat-label>
                    <input
                        id="f_emision"
                        matInput
                        type="text"
                        [formControlName]="'f_emision'"
                        #passwordField
                    />

                    <mat-error> Fecha de emisión es requerido </mat-error>
                </mat-form-field>

                <div class="flex w-full gap-x-1">
                    <div class ="flex items-center gap-x-1 h-12 w-6/12">
                        <img class="h-11 w-24"
                        *ngIf="captcha"
                        src="data:image/png;base64,{{
                            this.captcha.captchaImage
                        }}"
                    />
                        <button mat-icon-button (click)="getCaptcha()">
                            <mat-icon
                                class="icon-size-5"
                                svgIcon="heroicons_outline:arrow-path"
                            ></mat-icon>
                        </button>
                    </div>

                    <!-- captcha Field-->
                    <mat-form-field class="w-6/12">
                        <input
                            matInput
                            id="captcha"
                            [formControlName]="'captcha'"
                        />
                        <mat-error> Codigo captcha es requerido </mat-error>
                    </mat-form-field>

                    <mat-error>
                        {{ alert.message }}
                    </mat-error>
                </div>

                <!-- Actions -->
                <div
                    class="inline-flex items-center justify-between w-full mt-1.5"
                >
                    <mat-checkbox
                        class="-ml-2"
                        [color]="'primary'"
                        [formControlName]="'rememberMe'"
                    >
                        Aceptar terminos y condiciones.
                    </mat-checkbox>
                </div>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="signInForm.disabled"
                    (click)="signIn()"
                >
                    <span *ngIf="!signInForm.disabled"> Iniciar sesión </span>
                    <mat-progress-spinner
                        *ngIf="signInForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"
                    ></mat-progress-spinner>
                </button>
            </form>
        </div>
    </div>
    <div
        class="flex md:justify-start p-4 items-center flex-auto min-w-1/2 lg:p-16 overflow-hidden bg-secondary-50 h-full md:p-12 justify-center"
    >
        <div class="flex flex-col items-center justify-center gap-y-4">
            <img src="assets/images/logo/dni-azul.svg" alt="" />
            <img src="assets/images/logo/dni-electronico.svg" alt="" />
        </div>
    </div>
</div>
