@if (userLoaded()) {
<!-- Button avatar user -->
<button mat-icon-button [matMenuTriggerFor]="userActions">
   <span class="bg-primary-500 rounded-full text-white p-2 w-[30px] text-base">
    {{user.name.charAt(0).toUpperCase()}}
   </span>
</button>
<mat-menu [xPosition]="'before'" #userActions="matMenu">
    <button mat-menu-item>
        <span class="flex flex-col leading-none">
            <span>Usuario</span>
            <span class="mt-1.5 text-md font-medium">Brian Perez Diaz </span>
        </span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item (click)="signOut()">
        <mat-icon
            [svgIcon]="'heroicons_outline:arrow-right-on-rectangle'"
        ></mat-icon>
        <span>Sign out</span>
    </button>
</mat-menu>
} @else {
<!-- Button avatar sign in -->
<button mat-icon-button>
    <mat-icon *ngIf="showAvatar" svgIcon="heroicons_outline:user"> </mat-icon>
</button>
}
